/* Background */
body {
    font-family: 'Inter', 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom,#dae4f5,#f0f2f5);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card Container */
.login-container {
    background: #fff;
    width: 350px;
    padding: 30px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
}

/* Title */
.login-container h1 {
    margin-bottom: 25px;
    color: #333;
}

/* Inputs */
.input-group input {
    width: 90%;
    padding: 12px 14px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color:  #3a78f2;
    background-color: #fff; /* keep white background */
    box-shadow: 0 0 4px rgba(66,133,244,0.3); /* subtle glow instead */
}

/* Options */
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 20px;
}

.options a {
    color: #4285F4;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

/* Button */
.login-btn {
    width: 100%;
   background: #4285F4;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: 700;
}

.login-btn:hover {
    background:  #3a78f2;
    box-shadow: 0 2px 8px rgba(66,133,244,0.4);
}

/* Error message */
.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}



